APPLICATION_NAME="Quizzer"

//Server
PORT=

//Database
MONGO_URI=

REDIS_URL=

//SMTP
SMTP_USER=
SMTP_PASS=
SMTP_PORT=
SMTP_SERVICE=
SMTP_FROM=

//Encryption
ENCRYPTION_SECRET=
ENCRYPTION_IV_LENGTH=
ENCRYPTION_ALGORITHM=

//JWT
USER_ACCESS_SECRET=
ADMIN_ACCESS_SECRET=
USER_ACCESS_SECRET_EXPIRATION

//Frontend
CLIENT_URL=
